<div class="get-started">
    <div class="qgrid-logo"></div>
    <h2>Fast and flexible data table solution.</h2>
    <!-- <h1>Select version for your ecosystem.</h1> -->
    <ul class="frameworks">
        <li >
            <a class="documentation" href="https://qgrid.github.io/guide/highlights.html" target="_blank">
                <label>Documentation</label>
            </a>
        </li>
        <li >
            <a class="examples" href="https://qgrid.github.io/ng2/action-bar-basic">
                <label>Examples</label>
            </a>
        </li>
        <li>
            <a class="github" href="https://github.com/qgrid/ng2">
                <label>GitHub</label>
            </a>
        </li>
    </ul>
</div>
<div class="example">
    <%- docEditor(["github/qgrid/ng2-example/tree/live-data-basic/latest"]) -%>
</div>
<ul class="features">
    <li>
        <div class="image-css"></div>
        <div class="description">
            <strong>Considered Styles</strong>
            <p>User should be able to make any css customization in easy format</p>
        </div>
    </li>
    <li>
        <div class="image-custom"></div>
        <div class="description">
            <strong>Fully Customizable</strong>
            <p>Header, cells, rows, footer, pagination, etc. should be templatable</p>
        </div>
    </li>
    <li>
        <div class="image-js"></div>
        <div class="description">
            <strong>Clear Javascript</strong>
            <p>No html templates in javascript</p>
        </div>
    </li>
    <li>
        <div class="image-virtualize"></div>
        <div class="description">
            <strong>Perfomance</strong>
            <p>Virtualization and interaction strategies for the speed</p>
        </div>
    </li>
</ul>
<!-- <div class="go-to">
    <a href="<%- url_for('guide/install.html') %>">How to Install?</a>
    <a href="<%- url_for('feature/data-columns.html') %>">Features and API</a>
    <a href="<%- url_for('http://qgrid.github.io/ng2') %>" target="_blank">Examples</a>
</div> -->
<div class="membership">
    <div class="membership-card light"> 
        <span class="membership-name">Free</span>
        <span class="membership-num"><span class="prefix">$</span>0<span class="suffix">/mo</span></span>
        <p class="membership-description">We are part of open source community, so you can join us via Git Hub for free.</p>
        <a href="#" class="membership-btn light">Get start with GitHub</a>
    </div>
    <div class="membership-card"> 
        <span class="membership-name">Support</span>
        <span class="membership-num"><span class="prefix">$</span>9<span class="suffix">/mo</span></span>
        <p class="membership-description">You can maintain our project and team. Help us to grow and improve our product.</p>
        <a href="#" class="membership-btn">Become a maintainer</a>
    </div>
    <div class="membership-card"> 
        <span class="membership-name">Extended support</span>
        <span class="membership-num"><span class="prefix">$</span>39<span class="suffix">/mo</span></span>
        <p class="membership-description">You can influence the project, propose changes and we take your wishes into new solutions.</p>
        <a href="#" class="membership-btn">Become a maintainer</a>
    </div>
</div>
