@import "layout";
@import "editor";

.index {
    font-family: $font-serif;

    main {
        display: flex;
        flex-flow: column wrap;
        background: $color-background;
        color: $color-text;
    }

    footer {
        color: $color-footer-text;
        background: $color-footer-background;
        padding: 50px 0;
        text-align: center;

        font: {
            family: $font-serif;
            size: 18px;
            weight: 200;
        }

        a {
            color: white;
            text-decoration: none;
            font-weight: 400;
        }
    }

    %accent-button {
        text-decoration: none;
        vertical-align: middle;
        background-color: $accent-color;
        color: white;
        line-height: 24px;
        font-size: 18px;
        font-weight: normal;
        padding: 18px;
        width: 248px;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: darken($accent-color, 5%);
        }
    }

    .features {
        margin-bottom: 45px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: column wrap;

        li {
            flex-flow: row wrap;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex: 1 1 auto;
            margin-bottom: 55px;

            .description {
                flex: 1 50%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                text-align: left;
                padding-left: 0;
                font-size: 1.5em;
                line-height: 1.5em;
                position: relative;

                p {
                    max-width: 400px;
                    position: absolute;
                    margin-bottom: 0;
                }
            }

            div[class^="image-"] {
                background-position: calc(100% - 70px) 0;
            }

            &:nth-child(2n+1) {
                flex-direction: row-reverse;

                .description {
                    text-align: right;
                    padding-right: 0;

                    p {
                        text-align: right;
                        position: absolute;
                        right: 0;
                    }
                }

                div[class^="image-"] {
                    background-position: 70px 0;
                }
            }
        }
    }

    .go-to {
        // grid-area: go-to;
    }

    .get-started {
        background-color: $color-sidebar-background;
        text-align: center;
        color: $color-top-text;
        padding: 40px 0 0 0;

        .qgrid-logo {
            margin-bottom: 65px;
            margin-top: 30px
        }

        h1,
        h2 {
            margin: 0;
            font-weight: normal;
        }

        h1 {
            font-size: 2em;
            line-height: 2em;
        }

        h2 {
            font-size: 1.714em;
            line-height: 1.714em;
            margin-bottom: 10px;
        }

        .frameworks {
            list-style: none;
            padding: 0;
            margin: 67px 0 120px 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;

            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 0.5em;
                font-size: 4.5em;

                &>a label,
                &>a {
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                }

                span:before,
                a:before {
                    display: block;
                    font-size: 63px;
                    margin-bottom: 20px;
                }

                &:last-child {
                    margin-right: 0;
                }

                label {
                    display: block;
                    padding: 5px 10px;
                    border-radius: 11px;
                    width: 100px;

                    font: {
                        size: 10px;
                        family: $font-sans;
                    }

                    text-transform: uppercase;
                    line-height: 11px;
                    background-color: #0078CF;
                    color: $whitescale-50;
                }

                &.ready label {
                    color: white;
                    cursor: pointer;
                }

                &.ready:hover label {
                    background-color: darken(#0078CF, 5%);
                }
            }
        }
    }

    .example {
        margin-top: -75px;
        align-items: center;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
    }

    // .go-to {
    //     text-align: center;
    //     // margin-bottom: 100px;
    //     margin-bottom: 50px;
    //     font-size: 0;
    //     display: flex;
    //     flex-flow: row wrap;
    //     justify-content: center;

    //     a {
    //         @extend %accent-button;
    //         margin: 5px;
    //     }
    // }

    .membership {
        display: flex;
        justify-content: center;
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 100px;
        .membership-card {
            margin: 0 20px;
            border: 1px solid $accent-color;
            padding: 30px 40px;
            text-align: center;
            width: 33.333333%;
            max-width: 33.333333%;
            min-height: 360px;
            display: flex;
            flex-direction: column;
            &.light {
                border: 1px solid #d1d1d1;
            }
        }
        .membership-name {
            display: block;
            font-size: 36px;
            margin-bottom: 22px;
        }
        .membership-num {
            // font-size: 40px;
            font-size: 52px;
            display: block;
            .prefix {
                // font-size: 24px;
                font-size: 32px;
                top: -14px;
                position: relative;
                margin-right: 3px;
                color: #999;
            }
            .suffix {
                font-size: 22px;
                color: #999;
            }
        }
        .membership-btn {
            padding: 16px;
            font-size: 24px;
            @extend %accent-button;
            width: calc(100% - 30px);
            margin-top: auto;
            border: 1px solid rgba(255, 255, 355, 0);
            transition: all .3s ease-in-out;

            &.light {
                background-color: $color-background;
                border-color: $accent-color;
                color: $color-text;
                &:hover {
                    border-color: lighten($accent-color, 30%);
                    color: lighten($color-text, 30%);
                }
            }
        }
        .membership-description {
            text-align: left;
            margin: 30px 0 50px 0;
            font-size: 21px;
            line-height: 1.5em;
        }
    }
}